{% extends "DashiDashboardBundle::layout.html.twig" %}

{% block head %}
    <script language="javascript" src="{{ asset('/bundle/dashi/js/app.js') }}"></script>
    <script language="javascript" src="{{ asset('/bundle/dashi/js/DashboardCtrl.js') }}"></script>
    <script language="javascript" src="{{ asset('/bundle/dashi/js/Widget.js') }}"></script>
    <script language="javascript" src="{{ asset('/bundle/simpleClock/js/SimpleClock.js') }}"></script>
{% endblock %}

{% block body_sub %}
    ng-controller="DashboardCtrl"
{% endblock body_sub %}

{% block content %}
    {% verbatim %}
        <h1>{{ id }}</h1>
        <div id="canvas">
            <div widget widget-id="{{ row.id }}"
                 dashboard-id="{{ row.dashboardId }}"
                 offset-X="{{ row.xCord }}" offset-Y="{{ row.yCord }}"
                 width="{{ row.width }}" height="{{ row.height }}"
                 ng-repeat="row in widgets" class="widget" style="left:{{ row.xCord }}px; top:{{ row.yCord }}px; width:{{ row.width }}px;height:{{ row.height }}px; "></div>
        </div>
    {% endverbatim %}
{% endblock content %}