<!DOCTYPE html>
<html ng-app="dashboardApp">
    <head>
        <link rel="icon" sizes="16x16" href="{{ asset('img/favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/core.css') }}">
        <script language="javascript" src="{{ asset('/js/jquery-2.1.0.js') }}"></script>
        <script language="javascript" src="{{ asset('/js/angular.js') }}"></script>
        <script language="javascript" src="{{ asset('/js/angular-resource.js') }}"></script>
        <script language="javascript" src="{{ asset('/js/angular-route.js') }}"></script>
{% block head %}{% endblock %}
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title %}Dashi{% endblock %}</title>
    </head>

    <body {% block body_sub %}{% endblock body_sub %}>
{% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
{% endfor %}

    <div class="content">
{% block content %}{% endblock %}
    </div>

{% if code is defined %}
        <h2>Code behind this page</h2>
        <div class="block">
            <div class="symfony-content">{{ code|raw }}</div>
        </div>
{% endif %}
    </body>
</html>
